<strong>Hi, {{ provider }}</strong>
<p>
  There was a cancellation in your schedule, please find details above:
</p>
<p>
  <strong>Customer:</strong> {{ user }} <br />
  <strong>Date/Time:</strong> {{ date }} <br />
  <br />
  <small>
    This Date/Time is free for a new appointment.
  </small>
</p>
